
/* contacto*/

.contacto-x2 {
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.contacto-boot {
    padding-top: 30px;
    padding-left: 20px;
}


.contacto-cuadrados {
    padding: 15px 0px 20px 20px;
}

