/*footer*/



.footer-r {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:#d1b6b4;
    width: 100%;
    height: 150px;
  }
  
  .img-redes {
    height: 50px;
    width: 50px;
  }
  
  
  .footer-redes {margin:30px;
  }
  