
/*index*/



.video-coder {
    display: flex;
    height: 25%;
    width: 25%;
}



.video-coder-bootstrap {
    height: 25%;
    width: 25%;
    padding: 5px 0px 20px 20px
}


.conoce {
    padding: 10px 0px 10px 10px;
    color: #bb6262;
}


.video-coder {
    height: 25%;
    width: 25%;
    padding: 10px 0px 10px 10px;
    display: flex;
}

.obras-abstractas {
    color: #de6666;
    padding-left: 10px;
}


.contacto-cuadrados {
    padding: 15px 0px 20px 20px;
}


