/* informacion */



.maestros_texto {
    padding: 10px;
    margin: 10px;
}

.ph-maestros {
    padding: 10px;
}


.profes-arte-bootstrap {
    padding-left: 20px;
    padding-bottom: 10px;
}

.acerca-de-bootstrap {
    padding-left: 10px;
}

.acerca-de-bootstrap {
    color: #9f5864;
    padding-left: 10px;
}

.datos-curiosos {
    color: #9f5864;
}


.text-end {
    text-align: start !important;
    font-size: 12px;
    color: #3d4144;
}


.figure-caption-text-end {
    padding-right: 20px;
    padding-left: 20px;
}