
/*obras*/

.obras-reconocidas {
    color: #9f5864;
}


.rostro-grafito-bootstrap {
    padding-bottom: 20px;
    padding-top: 10px;
}




.hermoso-paisaje {
    text-align: center;
}

.hermosa-escultura-mujer {
    text-align: center;
}


/*obras*/

.obras-reconocidas {
    color: #9f5864;
}


.rostro-grafito-bootstrap {
    padding-bottom: 20px;
    padding-top: 10px;
}




.hermoso-paisaje {
    text-align: center;
}

.hermosa-escultura-mujer {
    text-align: center;
}


