
/* ubicacion*/

.miami-bootstrap {
    padding: 10px
}

.ubicacion-boot {
    padding-left: 10px;
}


.mapa-bootstrap {
    padding-bottom: 10px;
    padding-left: 10px;
}

.ubicacion-mapa {
    padding: 10px 10px 10px 10px;
    color:#9f5864;
}

.miami {
    padding: 8px 8px 8px 8px;
}

.mapita {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}

